.label_count {
    position:absolute;
    color:#b4b4b4;
    top: -15px;
    left: 0px;
}
.wrapper_btn {
    margin-top: 15px;
}
.link_favorites {
    right: 0;
    color: #617085;
    text-decoration: underline;
    position:absolute;
}
.link_favorites:hover {
    text-decoration: none;
}
.cart_product,.description_product {
    margin-bottom:15px;
}
.cart_product .col-lg-4, .cart_product .col-lg-3 {
    padding:20px;
}
.cart_product .input-group-addon {
    height:93px;
}
.btn_plusminus {
    height:34px;
}
.wrapper_info {
    z-index:11;
    position:relative;
    color:#fff;
    text-decoration: underline;
    margin-bottom:10px;
    display: block;
    width:125px;
    margin:0 auto 10px auto;
}
.wrapper_info:hover {
    color:#000;
    text-decoration: none;
}

.btn_product, .btn_buy {
    display:block;
    background: transparent;
    border-color: #fff;
    position: relative;
    z-index: 11;
    -webkit-transition: .5s;
    transition: .5s;
    color: #fff;
    width:125px;
    margin: auto;
    text-transform: uppercase;
}
.btn_buy {
    background-color: #ffc104;

}
.btn_product:hover {
    color:#000;
    border-color: #000;
}
.myadvert:hover .highlight_product {
    display:block;
    position: absolute;
    top: 0;
    background: #ebbb2a;
    width:262px;
    height: 100%;
    padding-top: 75px;
    text-align: center;

}
.highlight_product {

}
.name_firm {
    display: inline;
    right: 0;
    position: absolute;
}
.desc_product {
    text-align: center;
    padding: 10px 0 55px 0px;
    position: relative;
    background: #fff;
}
.myadvert {
    margin-bottom:75px;
}
.wrapper_product {
    width:262px;
    height:292px;
    z-index: 0;
    background-color: #fff;
    overflow: hidden;
}
.info_product {
    position: relative;
    background: #fff;
    border-bottom: 1px solid #dfdfdf;
    margin: auto 10px;
    padding: 5px;
}
.highlight_product {
    display:none;
}
.image_product {
    width:262px;
    height:150px;
}
.image_product:before {
    content: "";
    position: absolute;
    background: url("/maket/images/hex_wrapper.png");
    width: 262px;
    height: 296px;
    top: 0px;
    background-size: 100%;
    z-index: 10;
}
.image_product img{
    width:262px;
}
.price_cart {
    color:#1c3f6f;
    padding: 0 10px;
    position: relative;
    font-size: 25px;
    font-weight: 700;
}
.price_cart .glyphicon {
    font-size: 17px;
}
.price_product {
    color:#1c3f6f;
    padding: 0 10px;
    position: relative;
    font-size: 27px;
    font-weight: 700;
}
.price_product .glyphicon {
    font-size: 17px;
}
.name_product {
    font-weight:700;
}
div.ic_myCarousel {

    clear:right;
}
.infiniteCarousel_item img
{
    width:540px;
}
.ic_myCarousel .ic_button {
    /*float: left;*/
    display: inline-block;
    height: 50px;
    line-height: 25px;
    margin: 4px 4px 0 2px;

    width: 50px;
    border: 2px solid #eee;
    background: #ddd;
}
.infiniteCarousel {
    margin: 0 auto !important;

}
.ic_wrapper {
    width: 540px !important;

}
.ic_myCarousel .ic_active {
    background: #fff;
    border: 2px solid #1C3F6F;
}
/*
 * Default
 */
h3 {
    color: #1C3F6F;
}
.blue_line {
    border-top:1px solid #1C3F6F;
}
body {
    font-family: "Ubuntu",sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.properties_product {
    color:#b4b4b4;
}
.properties_product a {
    color: #b4b4b4;
    text-decoration:underline;
}
/*
 * Main
 */
/* main-navbar */
.main-navbar {
	height: 100px;
	background-color: #fff;
	font-size: 15px;
	margin-bottom: 0px;
}
.main-navbar .navbar-collapse {
	padding: 26px 18px;
}
.main-navbar .navbar-nav > li > a {
	color: #32527D;
	position: relative;
	margin: 10px 15px;
	padding: 3px;
	border-bottom: 3px solid transparent;
}
.main-navbar .navbar-nav > li.divider {
	width: 2px;
	height: 18px;
	background-image: url('/images/divider.png');
	margin-top: 15px;
	margin-left: 8px;
	margin-right: 8px;
}
.main-navbar .main-icon {
	width: 28px;
	padding-right: 36px;
}
.main-navbar .main-icon > img {
	position: absolute;
	top: -2px;
}
.main-navbar .navbar-nav > li.active > a {
    color: #32527D;
    background-color: #fff;
	border-bottom: 3px solid #32527D;
	font-weight: bold;
}

/* main-search */
.main-search #main-search-form {
	padding-top: 68px;
	padding-bottom: 50px;
}

.main-search {
	background-repeat: repeat-x;
	background-image: url('/images/serach_bg.png');
}
.main-search > .container {
	max-width: 600px;
}
.main-search .form-control {
	height: 48px;
	padding-left: 20px;
	font-weight: bold;
}
.main-search .btn.btn-default {
    background-color: #ebbb2a;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    height: 48px;
    padding: 12px 0;
    width: 160px;
}

/* main-title */
.main-title {
    padding-top: 60px;
}

/* main-section */
.main-section {
    padding-top: 60px;
}

/* main-footer */
.main-footer {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #224c84, #173359) repeat scroll 50% center;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    height: 377px;
    line-height: 1.3;
    overflow: hidden;
    position: relative;
}
.main-footer::before {
    background: url("/images/footer-left_bg.png") no-repeat scroll 0 0;
    content: "";
    height: 100%;
    position: absolute;
    width: 150px;
    z-index: 1;
}
.main-footer::after {
    background: url("/images/footer-right_bg.png") no-repeat scroll 0 0;
    content: "";
    height: 100%;
    position: absolute;
    width: 150px;
    top: 0;
    right: 0;
    z-index: 1;
}
.main-footer-top {
    border-left: 900px solid transparent;
    border-right: 900px solid transparent;
    border-top: 50px solid white;
    left: 50%;
    margin: 0 0 0 -900px;
    position: absolute;
    z-index: 2;
}
.main-footer-top_border {
    border-left: 1100px solid transparent;
    border-right: 1100px solid transparent;
    border-top: 60px solid #112643;
    left: 50%;
    margin: 0 0 0 -1100px;
    position: absolute;
    z-index: 1;
}
.main-footer-bottom {
    background-color: #102745;
    bottom: 0;
    height: 12px;
    left: 0;
    position: absolute;
    width: 100%;
}
.main-footer-links {
	margin-top: 90px;
	color: white;
}
.main-footer-links a {
	color: white;
}
.main-footer-links a:HOVER {
	color: #71bdaa;
	text-decoration: none;
}
.main-footer-phone_number {
    font-family: "ubuntu_lightbold",sans-serif;
    font-size: 25px;
    font-weight: 700;
    text-shadow: 1px 1px #777, 2px 2px #666, 3px 3px #555, 4px 4px #333;
}

/* main-category */
.main-category-title {
    font-size: 16px;
    color: #1c3f6e;
    font-weight: bold;
    text-transform: uppercase;
}
.main-category-underline {
    border-top: 3px solid #1c3f6e;
    margin: 0 auto 30px;
    width: 150px;
}
.main-category-text {
    color: #767676;
}
.main-category-link {}
.main-category-name {
    font-weight: bold;
    color: #767676;
    text-transform: uppercase;
}
.main-category-link:hover {
    text-decoration: none;
}
.main-category-link:hover > .main-category-name {
    text-decoration: none;
    color: #2b669a;
}

/* main-product */
.main-product {
    background-color: #EFF3F3;
}
.main-product-top {
    border-left: 900px solid transparent;
    border-right: 900px solid transparent;
    border-top: 50px solid white;
    left: 50%;
    margin: 0 0 0 -900px;
    position: absolute;
    z-index: 2;bo
}
.main-product-title {
    font-size: 16px;
    color: #1c3f6e;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 30px;
}
.main-product-underline {
    border-top: 3px solid #1c3f6e;
    margin: 0 auto 30px;
    width: 150px;
}
.main-product-text {
    color: #767676;
}
.main-product-wrapper {
    position: relative;
    width: 267px;
    height: 294px;
}
.main-product-image::before {
    background: url("/images/product_wrapper.png") no-repeat scroll 0 0 / 100% auto;
    content: "";
    height: 294px;
    position: absolute;
    top: 0;
    width: 267px;
    z-index: 10;
}
.main-product-image > img {
    height: 182px;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
}
.main-product-info {
    padding: 15px 20px;
    height: 40px;
    overflow: hidden;
}
.main-product-price {
    float: left;
}
.main-product-price > span:first-of-type {
    color: #1C3F6F;
    font-weight: bold;
    font-size: 16px;
}
.main-product-price > span:last-of-type {
    color: #1C3F6F;
    font-weight: bold;
    font-size: 14px;
    margin-left: 3px;
}
.main-product-brand {
    float: right;
    text-decoration: underline;
}
.main-product-description {
    color: #A2A2A2;

}

/*
 * Social
*/
.social {
    margin: 10px auto 0;
    width: 190px;
}
.vk {
    background: rgba(0, 0, 0, 0) url("/images/vk.png") no-repeat scroll center top;
}
.vk.social_label {
    background-position: 50% center;
    float: left;
    height: 33px;
    width: 25%;
}
.fb {
    background: rgba(0, 0, 0, 0) url("/images/fb.png") no-repeat scroll center top;
}
.fb.social_label {
    background-position: 50% center;
    float: left;
    height: 33px;
    width: 25%;
}
.inst {
    background: rgba(0, 0, 0, 0) url("/images/inst.png") no-repeat scroll center top;
}
.inst.social_label {
    background-position: 50% center;
    float: left;
    height: 33px;
    width: 25%;
}
.yout {
    background: rgba(0, 0, 0, 0) url("/images/yout.png") no-repeat scroll center top;
}
.yout.social_label {
    background-position: 50% center;
    float: left;
    height: 33px;
    width: 25%;
}
